body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(66, 89, 113);
    color:rgb(69, 203, 133);
}

.header {
    text-align: center;
}

.iconofme {
    border-radius: 50%;
}
a {
    color:yellow;
}

#center {
    text-align: center;
}